@import "../../../styles/colors";
@import "@nl-design-system/nl-design-system/src/components/form/checkbox.scss";

.contentpart {
    .newlist{
      .card{
        background-color: transparent;
        border: 0;
    box-shadow: inset 0px -1px 0px #ebebeb;
      }
      .card__body{
        padding: 0;
        p{
          margin-left: 34px;
          color: #2b2b2b;
        }
        label{
          border: 0;
        }
      }
      .input__label--checkbox{
        padding: 15px 20px;
        background: none;
        &:before {
         // background-color: white;
          border: #adb5bd solid 1px;
      //    content: "";
        //  height: 18px;
          left: 5px;
          margin-left: 1.4rem;
          position: absolute;
          top: 1.4rem;
         // width: 18px;
      }
      }
     
     
    }
}
