<div class="contentpart">
    <div class="inner-section inner-section--no-border p-0">
        <h3 class="f-18px">{{question?.title}}</h3>
        <p>
            {{question?.subtitle}}
        </p>
    </div>

    <ul class="list list--card list--card-small newlist">
        <li class="card card--small" *ngFor="let person of persons;let i = index">
                <div class="card__body">
                    <input type="checkbox" class="input__control input__control--checkbox" id="person{{i + 1}}" value="{{person.id}}"
                        [checked]="order && order.value.includes(person.id)" (change)="checkBoxEvent($event, person)">
                    <label class="input__label input__label--checkbox" for="person{{i + 1}}">
                        <p>{{person?.naam?.aanschrijfwijze}}, geboren op {{person?.geboorte?.datum.date}}</p>
                    </label>
                </div>
        </li>
    </ul>
</div>
<div class="btnrow cursor-pointer">
    <maf-primary-button text=" Volgende stap"  (click)='nextAction()'></maf-primary-button>
    <maf-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></maf-back-button>
</div>