<div class="page-wrapper">
  <div class="page_name">
    <div class="title">Organisatie toevoegen</div>
    <div class="closebtn">
      <a routerLink="../share-person">
        <div><img src="/assets/img/cross.png" /></div>
        sluit
      </a>
    </div>
  </div>
  <div class="contentpart">
    <div class="searchwrap">
      <img src="/assets/img/searchicon.png" />
      <input
        type="text"
        class="form-control"
        id="text1"
        aria-describedby="emailHelp"
        placeholder="Zoeken op organisatienaam"
      />
    </div>
    <h3>Suggesties</h3>
    <div class="card">
      <div class="row no-gutters">
        <div class="col-auto">
          <img src="/assets/img/Logo Overheid.png" />
        </div>
        <div class="col">
          <div class="card-body cursor-pointer" routerLink="../share-person">
            <h5 class="card-title">Centraal Justitieel Incassobureau</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col-auto">
          <img src="/assets/img/Logo Overheid.png" />
        </div>
        <div class="col">
          <div class="card-body cursor-pointer" routerLink="../share-person">
            <h5 class="card-title">Belastingdienst</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
