<div class="page-wrapper">
  <div class="page_name">
    <div class="backpage cursor-pointer" routerLink="../">
      <div><img src="/assets/img/Arrow-back.png" /></div>
      Terug naar Start
    </div>
    <div class="title">
      <div><img src="/assets/img/shared-page-icon.png" /></div>
      Gegevens delen
    </div>
  </div>
  <div class="contentpart">
    <h3>Deze stappen ga je doorlopen</h3>
    <ol class="list list--decimal-circled overviewlist"> 
      <li>
        <a href="#">Geef aan wat je gaat delen</a>
      </li>
      <li>
        <a href="#">Geef aan met wie je gaat delen</a>
      </li>
      <li>
        <a href="#">Geef aan hoe lang je gaat delen</a>
      </li>
      <li>
        <a href="#">Bevestig je deelinstellingen</a>
      </li>  
    </ol>
  </div>
  <div class="btnrow cursor-pointer" routerLink="../step1">
    <a class="orangebtn cursor-pointer" routerLink="../share-data">
      Starten
    </a>
    <a class="backbottom cursor-pointer" routerLink="../">
      <div><img src="/assets/img/Arrow-back-gray.png" /></div>
      Terug naar Start
    </a>
  </div>
</div>
