@import "../../../styles/colors";

  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
      margin-bottom: 16px;
    }
    .card {
      padding: 15px 20px;
      border: 0;
      box-shadow: inset 0px -1px 0px $gallery;
      border-radius: 0;
      .row {
        align-items: center;
      }
      .card-body {
        padding: 0px;
        p {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }
        label {
          color: $gray;
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 4px;
        }
        .status {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: $laPalma;
        }
      }
    }
  }
