<div class="contentpart">
    <div class="inner-section inner-section--no-border p-0">
        <h3 class="f-18px">Controleer je gegevens</h3>
      </div>

    <ul class="list list--card list--card-small">
        <li class="card card--small">
            <a href="javascript:void(0)" class="card__content">
                <div class="card__body">
                    <label>Indiener</label>
                    <p class="card__status"> Dhr. de Vries, Ad Willem</p>
                </div>
            </a>
        </li>
        <li class="card card--small" *ngIf="isAddressQuestion">
            <a href="javascript:void(0)" class="card__content">
                <div class="card__body">
                    <label>Oud adres</label>
                    <p class="card__status">
                        Nieuwezijds Voorburgwal 147, 1012RJ Amsterdam
                    </p>
                </div>
            </a>
        </li>
        <ng-container *ngFor="let order of orders">
            <li class="card card--small" *ngIf="order.question !=='END'">
                <div class="card__body">
                    <label>{{order.keyTitle}}</label>
                    <p class="card__status" *ngFor="let value of getValues(order.valueTitle)">{{value}}</p>
                </div>
            </li>
        </ng-container>
    </ul>
</div>
<div class="btnrow">
    <maf-primary-button text="Aanvraag verzenden" (click)='saveOrder()'></maf-primary-button>
    <maf-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></maf-back-button>
</div>