<footer>
  <div class="inside">
    <div class="row m-0">
      <div class="col-3 tab" [class.active-tab]="router.url === '/homepage'">
        <a routerLink="../homepage" [class.active]="router.url === '/homepage'">
          <div class="img">
            <img class="gray" src="/assets/img/new-home-disabled.svg" />
            <img class="blue" src="/assets/img/new-home-active.svg" />
          </div>
          Start
        </a>
      </div>
      <div class="col-3 tab">
        <a routerLink="/journeys">
          <div class="img"><img src="/assets/img/new-search-disabled.svg" /></div>
          Zoeken
        </a>
      </div>
      <div class="col-3 tab" [class.active-tab]="router.url === '/messages'">
        <a routerLink="../messages" [class.active]="router.url === '/messages'">
          <div class="img">
            <div class="notify">
              <img class="gray" src="/assets/img/new-notifications-disabled.svg" />
              <img class="blue" src="/assets/img/new-notifications-active.svg" />
              <span *ngIf="!isMessageCurrentRoute">1</span>
            </div>
          </div>
          Berichten
        </a>
      </div>
      <div class="col-3 tab">
        <a (click) = "_signOut()">
          <div class="img"><img src="/assets/img/login-link.svg" /></div>
          Uitloggen
        </a>
      </div>
    </div>
  </div>
</footer>
