<div class="page-wrapper">
  <div class="page_name">
    <div class="title">Berichten</div>
  </div>
  <div class="contentpart">
    <h3>Nieuw (1)</h3>

    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <a href="#" routerLink="../homepage/similarities/overview" class="card__content">
          <div class="row no-gutters">
            <div class="col-auto">
              <img src="/assets/img/Logo WIJeindhoven.png" />
            </div>
            <div class="card__body">
              <h5 class="card-title">
                Stichting WIJeindhoven heeft een overeenkomst naar jou
                gestuurd.
              </h5>
              <span>10 januari 2020 14:30</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>