<div class="page-wrapper">
  <div class="page_name">
    <div class="title">Berichten</div>
  </div>
  <div class="contentpart">
    <h3>Nieuw (1)</h3>

    <div class="card cursor-pointer" routerLink="../homepage/similarities/overview">
      <div class="row no-gutters">
        <div class="col-auto pr-3">
          <div>
            <img src="/assets/img/Logo-WIJeindhoven.svg"/>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h5>
                  Gemeente X heeft een bevestiging naar jou gestuurd.
                </h5>
                <span>10 januari 2020 14:30</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
