@import "../styles/colors";

.page-wrapper {
  background: $backgroundColor;

  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
      font-weight: bold;
    }

    .card {
      padding: 15px 20px;
      border: 0;
      box-shadow: 1px 2px 7px rgb(43 43 43 / 25%);
      border-radius: 8px;
      .row {
        align-items: center;
      }
      .card-body {
        padding: 0px;
        p {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: $gray;
        }

        h5 {
          margin: 0;
          font-style: normal;
          font-size: 16px;
          line-height: 22px;
          font-weight: bold;
        }
      }
    }
  }
}
