<div class="page-wrapper">
  <div class="page_name">
    <maf-back-button (back)="backPage()"></maf-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/shared-page-icon.png" /></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Met wie wil je delen?</h3>
    <div class="card">
      <div class="row no-gutters">
        <div class="col-auto pr-3">
          <div>
            <img src="/assets/img/Logo Overheid.png" />
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h5>Centraal Justitieel Incass...</h5>
                <span>Alleen lezen <img src="/assets/img/que-icon.png"/></span>
              </div>
              <div class="pl-2">
                <ui-switch [checked]="true" size="small"></ui-switch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a routerLink="../add-organization" class="organiseplus">
      <div><img src="/assets/img/plus2.png" /></div>
      Organisatie toevoegen
    </a>
  </div>
  <div class="btnrow">

    <maf-primary-button text="Volgende stap" routerLink="/homepage/share-time"></maf-primary-button>
    <maf-back-button title="Terug naar de vorige stap" position="bottom" routerLink="/homepage/share-data"></maf-back-button>
  </div>
</div>
