<div class="page-wrapper">
  <div class="page_name">
    <div class="backpage cursor-pointer" routerLink="../">
      <div><img src="/assets/img/Arrow-back.png" /></div>
      Terug naar Start
    </div>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/shared-page-icon.png" /></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Met wie wil je delen?</h3>
    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <div class="d-flex">
          <div class="pr-3">
            <img src="/assets/img/Logo Overheid.png" />
          </div>
          <div class="card__body">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div>
                <h5 class="mb-2">Centraal Justitieel Incass...</h5>
                <p> Alleen lezen <img src="/assets/img/que-icon.png" /></p>
              </div>
              <div>
                <label class="switch">
                  <input class="switch__input" type="checkbox" id="switch1" value="on">
                  <span class="switch__slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a routerLink="../add-organization" class="organiseplus">
      <div><img src="/assets/img/plus2.png" /></div>
      Organisatie toevoegen
    </a>
  </div>
  <div class="btnrow">
    <app-primary-button text="Volgende stap" routerLink="/homepage/share-time"></app-primary-button>
    <app-back-button title="Terug naar de vorige stap" position="bottom" routerLink="/homepage/share-data">
    </app-back-button>
  </div>
</div>