<div class="page-wrapper">
  <div class="page_name">
    <div class="backpage cursor-pointer" routerLink="../../">
      <div>
        <img src="/assets/img/Arrow-back.svg" />
      </div>
      Terug naar Start
    </div>
    <div class="d-flex justify-content-between">
      <div class="title">Gedeelde gegevens</div>
      <div class="profilepic cursor-pointer" routerLink="../../steps-overview">
        <img src="/assets/img/black-plus.svg" />
      </div>
    </div>
  </div>

  <div class="contentpart cursor-pointer" routerLink="overview">
    <div class="card cursor-pointer" routerLink="overview">
      <div class="row no-gutters">
        <div class="col-auto pr-3">
          <div>
            <img src="/assets/img/Logo Overheid.png" />
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h5>Centraal Justitieel Incassobureau</h5>
                <span>Delen gestart op 14-04-2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
