@import "../styles/colors";
@import "@nl-design-system/nl-design-system/src/components/card/card.scss";

.page-wrapper {
  background: $backgroundColor;

  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-family: "rijksoverheidsanswebtext_boBd";
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
    }
    .searchwrap {
      display: flex;
      border: 1px solid $silverSand;
      padding: 12px 10px;
      background: $white;
      align-items: center;
      margin-bottom: 24px;
      input {
        border: 0;
        padding: 0;
        height: auto;
        padding-left: 10px;
        font-style: normal;
        font-family: "rijksoverheidsanswebtext_boBd";
        font-size: 16px;
        line-height: 22px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 8px !important;
        .card__body {
          padding: 1.5rem 2rem 2rem 1.5rem !important;
        }
        .card__title {
          margin-bottom: 10px;
          font-style: normal;
          font-family: "rijksoverheidsanswebtext_boBd";
          font-size: 16px;
          line-height: 22px;
        }
        .card__status {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: $orange;
        }
      }
    }
  }
}
