@import "../styles/colors";

.page-wrapper {
  background: $backgroundColor;

  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
      font-weight: bold;
    }

    .searchwrap {
      display: flex;
      border: 1px solid $silverSand;
      padding: 12px 10px;
      background: $white;
      align-items: center;
      margin-bottom: 24px;
      border-radius: 8px;


      input {
        border: 0;
        padding: 0;
        height: auto;
        padding-left: 10px;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
      }
    }

    .card {
      border: 1px solid #EBEBEB;
      border-radius: 8px;
      margin-bottom: 8px !important;

      .card-body {
        padding: 15px 0 0 20px;

        h5 {
          margin-bottom: 10px;
          font-style: normal;
          font-size: 16px;
          line-height: 22px;
          font-weight: bold;
        }

        .status {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: $orange;
        }
      }
    }
  }
}

.img {
  border-radius: 8px 0 0 8px;
}
