@import "../styles/colors";

.page-wrapper {
  background: $backgroundColor;

  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-family: "rijksoverheidsanswebtext_boBd";
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
    }
    .searchwrap {
      display: flex;
      border: 1px solid $silverSand;
      padding: 12px 10px;
      background: $white;
      align-items: center;
      margin-bottom: 24px;
      input {
        border: 0;
        padding: 0;
        height: auto;
        padding-left: 10px;
        font-style: normal;
        font-family: "rijksoverheidsanswebtext_boBd";
        font-size: 16px;
        line-height: 22px;
      }
    }
    .card {
      // padding: 15px 20px;
      padding-bottom: 2px;
      border: 0;
      box-shadow: inset 0px -2px 0px rgba(43, 43, 43, 0.25);
      border-radius: 0;
      .card-body {
        padding: 15px 0px 0px 20px;
        h5 {
          margin-bottom: 10px;
          font-style: normal;
          font-family: "rijksoverheidsanswebtext_boBd";
          font-size: 16px;
          line-height: 22px;
        }
        .status {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: $orange;
        }
      }
    }
  }
}
