<div class="page-wrapper">
  <div class="page_name">
    <div class="title">Welkom terug, Ad</div>
    <div class="profilepic">
      <img src="/assets/img/Ellipse 4.png" />
    </div>
  </div>
  <div class="contentpart">
    <div class="inner-section inner-section--no-border p-0">
      <h3 class="f-18px">Zoeken</h3>
    </div>
    <div class="searchwrap">
      <img src="/assets/img/searchicon.png" />
      <input type="text" class="form-control cursor-pointer" id="text1" aria-describedby="emailHelp"
        routerLink="../journeys" placeholder="Zoeken op een regeling" />
    </div>
    <div class="inner-section inner-section--no-border p-0">
      <h3 class="f-18px">Mijn startpagina</h3>
    </div>
    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <a href="#" class="card__content" routerLink="personal-information">
          <div class="card__thumb" style="background-image: url('/assets/img/Persoonsgegevens.png')"></div>
          <div class="card__body">
            <div class="card__content">
              <span class="card__title">Persoonsgegevens</span>
            </div>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="#" class="card__content" routerLink="../messages">
          <div class="card__thumb" style="background-image: url('/assets/img/Berichten.png')"></div>
          <div class="card__body">
            <span class="card__title">Berichten</span>
            <span class="card__status">1 nieuw bericht</span>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="#" class="card__content" routerLink="similarities">
          <div class="card__thumb" style="background-image: url('/assets/img/Overeenkomsten.png')"></div>
          <div class="card__body">
            <div class="card__content">
              <span class="card__title">Overeenkomsten</span>
            </div>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="#" class="card__content" routerLink="shared-data">
          <div class="card__thumb" style="background-image: url('/assets/img/Machtigingen.png')"></div>
          <div class="card__body">
            <div class="card__content">
              <span class="card__title">Gedeelde gegevens</span>
              <!-- <span class="card__status">1 nieuw bericht</span> -->
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>