<div class="page-wrapper">
  <div class="page_name">
    <div class="title">
      <div>Welkomstour</div>
      <div><a routerLink="../login" class="link">Overslaan</a></div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart d-flex">
    <div>
      <h3>Altijd veilig</h3>
      <p>
        Alleen jij hebt toegang tot je eigen gegevens. Deze zijn vergrendeld via
        een pincode of biometrische scan.
      </p>
    </div>
    <div class="text-center screenimg">
      <img src="/assets/img/screen3.png" />
    </div>
  </div>

  <div class="btnrow2">
    <app-primary-button text="Ga door naar inloggen" routerLink="/login"></app-primary-button>
  </div>
</div>
