@import "../../styles/colors";
@import "@nl-design-system/nl-design-system/src/components/card/card.scss";
.page-wrapper {
  background: $backgroundColor;
  padding: 0;
  .page_name {
    display: block;
    .title {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        margin-right: 8px;
      }
    }
    .backpage {
      display: flex;
      width: 100%;
      img {
        margin-right: 6px;
      }
    }
  }
  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-family: "rijksoverheidsanswebtext_boBd";
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
    }

    ul.list.list--card.list--card-small {
      margin: 0;
      padding: 0;
    }
 
  .card {
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(43, 43, 43, 0.10);
    margin-bottom: 0;
  }
  
  .card__body {
    min-height: inherit;
    padding: 15px 20px;
    p {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    label {
      color: $gray;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
    }
  }
  }
}
