<div class="page-wrapper">
  <div class="page_name">
    <app-back-button (back)="backPage()"></app-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">Ad de Vries</div>
      <div class="profilepic">
        <img src="/assets/img/Ellipse 4.png" />
      </div>
    </div>
  </div>

  <div class="contentpart">
    <h3>Persoonsgegevens</h3>
    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Voornaam(en)</label>
            <p class="card__status">1 nieuw bericht</p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Achternaam</label>
            <p class="card__status">{{personalInfo?.naam?.geslachtsnaam}} </p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Geboortedatum</label>
            <p class="card__status">{{personalInfo?.geboorte?.datum?.date}} </p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Burgerservicenummer</label>
            <p class="card__status">{{personalInfo?.burgerservicenummer}} </p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Geboorteplaats</label>
            <p class="card__status">Utrecht </p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Geboorteland</label>
            <p class="card__status">Nederland </p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Geregisteerd partnerschap</label>
            <p class="card__status">Evelien de Vries </p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Kinderen</label>
            <p class="card__status">Paul de Vries </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>