<div class="page-wrapper">
  <div class="page_name">
    <div class="title">
      <div>Welkomstour</div>
      <div><a routerLink="../login" class="link">Overlaan</a></div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
  </ul>
  <div class="contentpart d-flex">
    <div class="inner-section inner-section--no-border p-0">
      <h3>Alles zelf regelen</h3>
      <p> Via MijnApp kun je gemakkelijk bijvoorbeeld een verhuizing doorgeven,
        een huwelijk partnerschap aangaan, ondersteuning aanvragen en veel meer. </p>
  </div>
    <div class="text-center screenimg">
      <img src="/assets/img/screen1.png" />
    </div>
  </div>

  <div class="btnrow2">
    <maf-primary-button text="Volgende stap" routerLink="dashboard"></maf-primary-button>
  </div>
</div>
