<div class="page-wrapper">
  <div class="page_name">
    <div class="title">
      <div class="bold-title">Welkom</div>
      <div><a routerLink="../login" class="link">Overslaan</a></div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
  </ul>
  <div class="contentpart d-flex">
    <div>
      <h3>Regelen</h3>
      <ul class="custom-list">
        <li>Al je zaken regelen waar en wanneer het jou uitkomt</li>
        <li>Altijd weten waar jouw aanvraag in het proces zit</li>
        <li>Chatten voor hulp en informatie</li>
      </ul>
    </div>
    <div class="text-center screenimg">
      <img src="/assets/img/screen1.png" />
    </div>
  </div>

  <div class="btnrow2">
    <app-primary-button text="Volgende stap" routerLink="dashboard"></app-primary-button>
  </div>
</div>
