$polar: #eef7fb;
$silverSand: #c8cacc;
$white: #ffffff;
$mineShaft: #2b2b2b;
$laPalma: #4CAF50;
$orange: #FF7000;
$gray: #8f8e8b;
$blue: #005ea5;
$gallery: #ebebeb;
$scorpion: #565656;
$dustyGray: #999999;
$nobel: #b4b4b4;
$eggSour: #fff4dc;
$black: #000000;
$red: #E65050;
$codGray: #1e1e1e;
$lightBlack: #282828;
$lightOrange: #e07000;
$lightGray: #323232;
$darkOrange: #df6f00;
$chathamsBlue: #144272;
$cornFlowerBlue: #5c99ee;
$blizzardBlue: #b2d7ee;
$backgroundColor: #F9F9F9;
