<div class="page-wrapper">
  <div class="page_name">
    <app-back-button (back)="backPage()"></app-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/share.svg"/></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Controleer je deelinstellingen</h3>
    <h3>Je gaat gegevens delen met</h3>

    <div class="card top">
      <div class="row no-gutters">
        <div class="col-auto pr-3">
          <div>
            <img src="/assets/img/Logo Overheid.png"/>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h5>Centraal Justitieel Incassobureau</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bottom">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Startdatum delen gegevens</label>
            <div class="value">
              <img src="/assets/img/calendar.svg"/> 14-04-2020
            </div>
          </div>
        </div>
      </div>
    </div>


    <h3 class="mt-24px">Deze gegevens ga je delen</h3>

    <div class="card top">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <img src="/assets/img/Logo-WIJeindhoven.svg"/>
              </div>
              <div class="text-content">
                <label>Gegevens bevestigd door</label>
                <h4>Gemeente X</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Burgerservicenummer</label>
            <div class="value">
              <img src="/assets/img/BSN.svg"/>12345678
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Type overeenkomst</label>
            <div class="value">
              <img src="/assets/img/document.svg"/> Bevestiging ondersteuning
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bottom">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Status overeenkomst</label>
            <div class="value">
              <img src="/assets/img/status-icon-1.png"/> Actief
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btnrow">
    <!-- <a class="orangebtn cursor-pointer" routerLink="../shared-successfully">
      <div class="d-inline-flex">
        Volgende stap
        <div class="ml-2"><img src="/assets/img/Arrow-forward.svg" /></div>
      </div>
    </a> -->
    <app-primary-button text="Volgende stap" routerLink="/homepage/shared-successfully"></app-primary-button>
    <app-back-button position="bottom" title="Terug naar de vorige stap"
                     routerLink="/homepage/share-time"></app-back-button>
  </div>
</div>
