<div class="page-wrapper">
  <div class="page_name">
    <div class="backpage cursor-pointer" routerLink="../">
      <div><img src="/assets/img/Arrow-back.png" /></div>
      Terug naar Start
    </div>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/shared-page-icon.png" /></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Controleer je deelinstellingen</h3>
    <h3>Je gaat delen met</h3>
    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <div class="d-flex">
          <div class="pr-20">
            <img src="/assets/img/Logo Overheid.png" />
          </div>
          <div class="card__body">
            <h5 class="mb-2">Centraal Justitieel Incass...</h5>
            <p> Alleen lezen <img src="/assets/img/que-icon.png" /></p>
          </div>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Startdatum machtiging</label>
          <p class="card__status"><img src="/assets/img/calendar.png" /> 01-12-2020 </p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Einddatum machtiging</label>
          <p class="card__status"><img src="/assets/img/calendar.png" /> 01-12-2020 </p>
        </div>
      </li>
    </ul>

    <h3 class="mt-24px">Deze gegevens ga je delen</h3>

    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <div class="d-flex">
          <div class="card__body">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div>
                <label class="mb-2">Gegevens bevestigd door</label>
                <h4>Stichting WIJeindhoven</h4>
                <p> Alleen lezen <img src="/assets/img/que-icon.png" /></p>
              </div>
              <div>
                <img src="/assets/img/Logo WIJeindhoven.png" />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Burgerservicenummer</label>
          <p class="card__status"> <img src="/assets/img/name-icon.png" /> 12345678 </p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Type overeenkomst</label>
          <p class="card__status"><img src="/assets/img/type-icon.png" /> Bevestiging ondersteuning</p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Status overeenkomst</label>
          <p class="card__status"><img src="/assets/img/status-icon.png" /> Actief </p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Startdatum</label>
          <p class="card__status"><img src="/assets/img/calendar.png" /> 01-04-2020 </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="btnrow">
    <app-primary-button text="Volgende stap" routerLink="/homepage/shared-successfully"></app-primary-button>
    <app-back-button position="bottom" title="Terug naar de vorige stap" routerLink="/homepage/share-time">
    </app-back-button>
  </div>
</div>