<div class="page-wrapper">
  <div class="page_name">
    <div class="title">Zoeken</div>
    <div class="closebtn">
      <a routerLink="../homepage">
        <div><img src="/assets/img/cross.png" /></div>
        sluit
      </a>
    </div>
  </div>
  <div class="contentpart">
    <div class="searchwrap">
      <img src="/assets/img/searchicon.png" />
      <input type="text" class="form-control" id="text1" aria-describedby="emailHelp"
        placeholder="Zoeken op een regeling" />
    </div>
    <h3>Suggesties</h3>
    <ul class="list list--card list--card-small">
      <li class="card card--small" *ngFor="let journey of journeys">
        <a href="#" [routerLink]="['search-overview']" [queryParams]="{ id: journey.request_type_id }"
          queryParamsHandling="merge" class="card__content">
          <div class="row no-gutters">
            <div class="col-auto">
              <img src="/assets/img/srch-img-1.png" />
            </div>
            <div class="card__body">
              <h5 class="card-title">{{journey.title}}</h5>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>