<div class="page-wrapper">
  <div class="page_name">
    <app-back-button (back)="backPage()"></app-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/share.svg"/></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Wanneer ga je delen?</h3>
    <div class="card radius">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Startdatum delen gegevens</label>
            <div class="value">
              <img src="/assets/img/calendar.svg"/> 14-04-2020
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btnrow">
    <app-primary-button text="Volgende stap" routerLink="/homepage/confirm-sharing"></app-primary-button>
    <app-back-button title="Terug naar de vorige stap" position="bottom"
                     routerLink="/homepage/share-person"></app-back-button>
  </div>
</div>
