<div class="page-wrapper">
  <div class="page_name">
    <div class="backpage cursor-pointer" routerLink="../">
      <div><img src="/assets/img/Arrow-back.png" /></div>
      Terug naar Start
    </div>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/shared-page-icon.png" /></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Hoe lang ga je delen?</h3>

    <div class="form-group mb-4">
      <label>Gewenste startdatum machtiging</label>
      <!-- <input
        type="text"
        placeholder="Vandaag"
        class="form-control dateicon"
        bsDatepicker
      /> -->
    </div>
    <div class="row date-block">
      <div class="form-group col-2 mr-1">
        <label class="lbl-title">dag</label>
        <input
          type="text"
          class="form-control"
          id="text1"
          aria-describedby="emailHelp"
          placeholder=""
        />
      </div>
      <div class="form-group col-2 mr-1">
        <label class="lbl-title">maand</label>
        <input
          type="text"
          class="form-control"
          id="text1"
          aria-describedby="emailHelp"
          placeholder=""
        />
      </div>
      <div class="form-group col-3">
        <label class="lbl-title">jaar</label>
        <input
          type="text"
          class="form-control year"
          id="text1"
          aria-describedby="emailHelp"
          placeholder=""
        />
      </div>
  </div>
    <div class="form-group">
      <label>Gewenste looptijd machtiging</label>
      <select class="custom-select" required>
        <option value="">8 maanden</option>
      </select>
    </div>
  </div>
  <div class="btnrow">
    <a class="orangebtn cursor-pointer" routerLink="../confirm-sharing">
      <div class="d-inline-flex">
        Volgende stap
        <div class="ml-2"><img src="/assets/img/Arrow-forward-w.png" /></div>
      </div>
    </a>
    <a class="backbottom cursor-pointer" routerLink="../share-person">
      <div><img src="/assets/img/Arrow-back-gray.png" /></div>
      Terug naar de vorige stap
    </a>
  </div>
</div>
