<div class="contentpart" *ngIf="!loading">
    <h3>{{question?.title}}</h3>
    <p>
        {{question?.subtitle}}
    </p>
    <div class="card eh-radio-group eh-radio-group-big" *ngFor="let option of question.options;let i = index">
        <div class="row no-gutters">
            <div class="col-auto">
                    <div class="eh-radio">
                      <input id="option{{i + 1}}" 
                             type="radio" 
                             [checked]="order && order.value === option.value"
                             name="radio-option" [value]="option.value"
                             (change)="optionChange($event, option.title)">
                      <label for="option{{i + 1}}">{{option.title}}</label>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="btnrow cursor-pointer" >
    <app-primary-button text="Volgende stap" *ngIf="!!order.value" (click)='nextAction()'></app-primary-button>
    <app-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></app-back-button>
</div>