@import "../../../styles/colors";
@import "../../../styles/radio";
@import "@nl-design-system/nl-design-system/src/components/form/radio.scss";

.contentpart {
    > p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-family: "rijksoverheidsanswebtext_boBd";
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 8px;
    }
}

.card__body {
     padding: 0px 0px !important;
}
.input__control--radio:checked + .input__label--radio {
  background-color: transparent;
  border: none;
}

.input__label--radio {
     background: none !important; 
     border: none !important;
     outline: none !important;
}
