@import "../../styles/colors";
@import "@nl-design-system/nl-design-system/src/components/card/card.scss";

.page-wrapper {
  background: $backgroundColor;
  padding: 0;
  .page_name {
    display: block;
    .title {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        margin-right: 8px;
      }
    }
  }
  .contentpart {
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $gray;
    }

    ul.list.list--card.list--card-small {
      margin: 0;
      padding: 0;
    }
    .card {
      background: none;
      border: 0;
      box-shadow: inset 0px -2px 0px rgba(43, 43, 43, 0.25);
      margin-bottom: 0;
      padding: 15px 20px;
      .card__body {
        min-height: inherit;
        padding:  0px 0px 0px 20px;
          h3 {
          margin: 0;
          font-style: normal;
          font-family: "rijksoverheidsanswebtext_boBd";
          font-size: 18px;
          line-height: 26px;
          color: $mineShaft;
          margin-top: -3px;
          margin-bottom: 10px;
          }
          h5 {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: $mineShaft;
          margin-bottom: 10px;
          }
          span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: $gray;
            margin-top: 4px;
          }
      }
    }
  }
}