<div class="page-wrapper">
  <app-loader *ngIf="loading"></app-loader>
  <div class="page_name">
    <app-back-button (back)="backPage()"></app-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">Bevestigingen</div>
      <div class="profilepic cursor-pointer" routerLink="../../steps-overview">
        <img src="/assets/img/black-plus.svg"/>
      </div>
    </div>
  </div>

  <div class="contentpart">
    <div class="card cursor-pointer" *ngFor="let contract of contracts">
      <div class="row no-gutters" [routerLink]="['overview']"
           [queryParams]="{ id: contract?.identificatie }"
           queryParamsHandling="merge">
        <div class="col-auto">
          <div>
            <img src="/assets/img/round-document.svg"/>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h3>{{contract?.titel}}</h3>
                <h5>{{contract?.organisatie}}</h5>
                <span> <img src="/assets/img/status-icon-1.png"/> {{contract?.status}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
