<div class="page-wrapper">
  <div class="page_name">
    <maf-back-button (back)="backPage()"></maf-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">Overeenkomsten</div>
      <div class="profilepic cursor-pointer" routerLink="../../steps-overview">
        <img src="/assets/img/plus.png" />
      </div>
    </div>
  </div>

  <div class="contentpart">
    <ul class="list list--card list--card-small">
      <li class="card card--small" *ngFor="let contract of contracts">
        <a [routerLink]="['overview']" [queryParams]="{ id: contract?.identificatie }" queryParamsHandling="merge"
          class="card__content">
          <div class="row no-gutters">
            <div class="col-auto">
              <img src="/assets/img/type-icon-2.png" />
            </div>
            <div class="card__body">
              <h3>{{contract?.titel}}</h3>
              <h5 class="card-title"> {{contract?.organisatie}}</h5>
              <span><img src="/assets/img/check-small.png" /> {{contract?.status}}</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>