<form [formGroup]="moveDateForm" *ngIf="!loading">
    <div class="contentpart">
        <h3>{{question?.title}}</h3>
        <p>
            {{question?.subtitle}}
        </p>
        <div class="form-group mb-4">
            <label>Verhuisdatum</label>
        </div>
        <div class="row date-block">
            <div class="form-group col-2 mr-1">
                <label class="lbl-title">dag</label>
                <input [class.formControl-Error]="showError('dag')" type="text" class="form-control" id="text1"
                    aria-describedby="emailHelp" formControlName="dag" />
            </div>
            <div class="form-group col-2 mr-1">
                <label class="lbl-title">maand</label>
                <input [class.formControl-Error]="showError('maand')" type="text" class="form-control" id="text1"
                    aria-describedby="emailHelp" formControlName="maand" />
            </div>
            <div class="form-group col-3 mr-1">
                <label class="lbl-title">jaar</label>
                <input [class.formControl-Error]="showError('jaar')" type="text" class="form-control year" id="text1"
                    aria-describedby="emailHelp" formControlName="jaar" />
            </div>
        </div>
    </div>
    <div class="btnrow">
        <maf-primary-button text=" Volgende stap"  *ngIf="moveDateForm.valid" (click)='nextAction()'></maf-primary-button>
        <maf-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></maf-back-button>
    </div>
</form>