@import "../../../styles/colors";
.contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-family: "rijksoverheidsanswebtext_boBd";
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 8px;
    }
    .mb-4 {
      margin-bottom: 4px !important;
    }
    .form-group {
      margin-bottom: 16px;
      label {
        margin-bottom: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
      }
      .form-control {
        border: 1px solid $silverSand;
        border-radius: 0;
        height: 48px;
        &.dateicon {
          background-image: url("../../../../assets/img/calendar.png"),
            url("../../../../assets/img/Triangle down.png");
          background-position: 10px center, right center;
          background-repeat: no-repeat, no-repeat;
          padding-left: 40px;
          font-style: normal;
          font-family: "rijksoverheidsanswebtext_boBd";
          font-size: 16px;
          line-height: 22px;
          color: $mineShaft;
        }
      }
    }
    .card {
      padding: 15px 20px;
      border: 0;
      box-shadow: inset 0px -2px 0px rgba(43, 43, 43, 0.25);
      border-radius: 0;
      .card-body {
        padding: 0px;
        p {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
}
.lbl-title {
    font-family: "RijksoverheidSerifWeb-Italic";
    color: #666666;
}
.date-block {
  .form-control {
    min-width: 48px;
  }
  .year {
    min-width: 70px !important;
  }
}
.formControl-Error {
  border: 1px solid red !important;
}
