<div class="page-wrapper">
  <div class="page_name">
    <app-back-button title="Terug naar Berichten" (back)="backPage()"></app-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">
        Bevestiging ondersteuning
      </div>
    </div>
  </div>

  <div class="contentpart">
    <app-loader *ngIf="!contract"></app-loader>
    <ng-container>
      <h3>Inhoud bevestiging</h3>
      <div class="card top">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <img src="/assets/img/Logo-WIJeindhoven.svg"/>
                </div>
                <div class="text-content">
                  <label>Gegevens bevestigd door</label>
                  <h4>{{contract?.organisatie}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-body">
              <label>Naam</label>
              <div class="value">
                <img src="/assets/img/user.svg"/> Dhr. de Vries, Ad Willem
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-body">
              <label>Burgerservicenummer</label>
              <div class="value">
                <img src="/assets/img/BSN.svg"/> {{contract?.bsn}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-body">
              <label>Type overeenkomst</label>
              <div class="value">
                <img src="/assets/img/document.svg"/> {{contract?.titel}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bottom">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-body">
              <label>Status bevestiging</label>
              <div class="value">
                <img src="/assets/img/status-icon-1.png"/> {{contract?.status}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="btnrow">
    <a class="orangebtn cursor-pointer" routerLink="../../share-data">
      Delen
    </a>
    <app-back-button position="bottom" routerLink="/homepage"></app-back-button>
  </div>
</div>
