<div class="page-wrapper" *ngIf="!!contract">
  <div class="page_name">
    <maf-back-button title="Terug naar Berichten" (back)="backPage()"></maf-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/shared-page-icon.png" /></div>
        Bevestiging ondersteuning
      </div>
    </div>
  </div>

  <div class="contentpart">
    <h3>Inhoud</h3>

    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <div class="card__body">
          <label class="mb-2">Gegevens bevestigd door</label>
          <h4>{{contract?.organisatie}}</h4>
          <p> Alleen lezen <img src="/assets/img/que-icon.png" /></p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Naam</label>
          <p class="card__status"><img src="/assets/img/name-icon.png" /> Dhr. de Vries, Ad Willem </p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Burgerservicenummer</label>
          <p class="card__status"> <img src="/assets/img/name-icon.png" /> {{contract?.bsn}} </p>
        </div>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Type overeenkomst</label>
            <p class="card__status"><img src="/assets/img/type-icon.png" /> {{contract?.titel}}</p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <a href="javascript:void(0)" class="card__content">
          <div class="card__body">
            <label>Status overeenkomst</label>
            <p class="card__status"><img src="/assets/img/status-icon.png" /> {{contract?.status}} </p>
          </div>
        </a>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Startdatum</label>
          <p class="card__status"><img src="/assets/img/calendar.png" /> {{contract?.beginDatum | date: 'dd-MM-yyyy'}}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="btnrow">
    <a class="orangebtn cursor-pointer" routerLink="../../steps-overview">
      Delen
    </a>
    <maf-back-button position="bottom"  routerLink="/homepage"></maf-back-button>
  </div>
</div>