 @import "@nl-design-system/nl-design-system/src/components/button/button.scss";
 @import "../../../styles/colors";

  .btn--digid {
    background: $orange !important;
    color: $white !important;
      width: 100%;
      line-height: 22px;
      height: 48px;
      font-size: 16px !important;
  }
