<form [formGroup]="contactForm" *ngIf="!loading">
    <div class="contentpart">
        <h3>{{questionData?.title}}</h3>
        <p>
            {{questionData?.subtitle}}
        </p>
        <div class="form-group" *ngFor="let option of questionData.options; let i = index">
            <label>{{option.title}}</label>
            <input [class.formControl-Error]="showError(option.value)" type="text" class="form-control"
                id="text{{i + 1}}" aria-describedby="emailHelp" placeholder="ad.de.vries@gmail.com"
                formControlName="{{option.value}}" />
        </div>
    </div>
    <div class="btnrow">
        <app-primary-button text=" Volgende stap" *ngIf="!!order.value" (click)='nextAction()'></app-primary-button>
        <app-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></app-back-button>
    </div>
</form>