@import "../../../styles/colors";

.contentpart {
    .form-group {
      margin-bottom: 16px;
      label {
        margin-bottom: 4px;
      }
      .form-control {
        border: 1px solid $silverSand;
        font-size: 1.5rem;
        border-radius: 0;
        height: 48px;
        font-family: "rijksoverheidsanswebtext_boBd";
      }
    }
}
.formControl-Error {
  border: 1px solid red !important;
}
