@import "../../styles/colors";
@import "@nl-design-system/nl-design-system/src/components/lists/lists.scss";

.page-wrapper {
  background: $backgroundColor;
  height: calc(100% - 0px);
  padding: 0;
  .page_name {
    display: block;
    .title {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        margin-right: 8px;
      }
    }
    .backpage {
      display: flex;
      width: 100%;
      img {
        margin-right: 6px;
      }
    }
  }
  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-family: "rijksoverheidsanswebtext_boBd";
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
    }

    .overviewlist {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        background: $white;
        margin-bottom: 1px;
        padding: 15px 20px;
        height: 52px;
        a {
          color: $mineShaft;
          display: flex;
          align-items: center;
          text-decoration: none;
          margin-left: 35px;
          font-size: 16px;
        }
      }
    }
  }
}
.warnIcon {
  width: 30px;
}
.list--decimal-circled > li::before {
  margin-left: 0 !important;
}
