<div class="page-wrapper" *ngIf="!loading">
  <div class="page_name">
    <app-back-button></app-back-button>
    <div class="title">
      <div><img src="/assets/img/truck.svg" /></div>
      Ik ga verhuizen
    </div>
  </div>
  <div class="contentpart">
    <h3>Deze stappen ga je doorlopen</h3>
    <ul class="overviewlist">
      <li *ngFor="let step of journey?.overview?.steps; let i = index">
        <a><span>{{i + 1}}</span>{{step}}</a>
      </li>
    </ul>
  </div>
  <div class="btnrow cursor-pointer">
    <app-primary-button text="Starten" (click)="redirectToRoute()"></app-primary-button>
    <app-back-button position="bottom" routerLink="/journeys"></app-back-button>
  </div>
  <div class="d-flex" *ngIf="!preconditionsFullFilled">
    <img class="warnIcon mr-3 ml-3" src="/assets/img/warn.svg" />
    <span>Dit proces kan niet worden gestart. <br/>
      Een verhuizing kan alleen worden doorgegeven door personen vanaf 16 jaar. Raadpleeg je ouder, voogd of verzorger.</span>
  </div>
</div>
