<div class="page-wrapper" *ngIf="!loading">
  <div class="page_name">
    <div class="backpage cursor-pointer" routerLink="../../homepage">
      <div><img src="/assets/img/Arrow-back.png" /></div>
      Terug naar Start
    </div>
    <div class="title">
      <div><img src="/assets/img/srch-img-1.png" /></div>
      Ik ga verhuizen
    </div>
  </div>
  <div class="contentpart">
    <h3>Deze stappen ga je doorlopen</h3>
    <ol class="list list--decimal-circled overviewlist">
      <li *ngFor="let step of journey?.overview?.steps; let i = index">
        <a>{{step}}</a>
      </li>    
  </ol>
  </div>
  <div class="btnrow cursor-pointer">
    <a class="orangebtn"  *ngIf="preconditionsFullFilled"  [routerLink]="['../journey']"
      [queryParams]="{ id: journey.request_type_id }"
      queryParamsHandling="merge">
      Starten
    </a>
    <a class="backbottom cursor-pointer" routerLink="../../homepage">
      <div><img src="/assets/img/Arrow-back-gray.png" /></div>
      Terug naar Start
    </a>
  </div>
  <div class="d-flex" *ngIf="!preconditionsFullFilled">
    <img class="warnIcon mr-3 ml-3" src="/assets/img/warn.svg" />
    <span>Dit proces kan niet worden gestart. <br/> 
      Een verhuizing kan alleen worden doorgegeven door personen vanaf 16 jaar. Raadpleeg je ouder, voogd of verzorger.</span>
  </div>
</div>
