<div class="page-wrapper">
  <div class="page_name">
    <div class="title">
      <div class="bold-title">Welkom</div>
      <div><a routerLink="../login" class="link">Overlaan</a></div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart d-flex">
    <div>
      <h3>Organiseren/controleren</h3>
      <ul class="custom-list">
        <li>Altijd weten wie welke gegevens van jou heeft</li>
        <li>Altijd weten wanneer iemand jouw gegevens gezien heeft.</li>
        <li>Altijd kunnen controleren of jouw gegevens kloppen</li>
        <li>Zelf bepalen welke gegevens je met wie deelt (en wanneer je daarmee stopt!)</li>
      </ul>
    </div>
    <div class="text-center screenimg">
      <img src="/assets/img/photo-step-two.png" />
    </div>
  </div>

  <div class="btnrow2">
    <app-primary-button text="Volgende stap" routerLink="always-safe"></app-primary-button>
  </div>
</div>
