<div class="page-wrapper">
  <div class="page_name">
    <div class="title">
      <div>Welkomstour</div>
      <div><a routerLink="../login" class="link">Overlaan</a></div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
    <li class="active"></li>
  </ul>
  <div class="contentpart d-flex">
    <div>
      <h3>Je eigen dashboard</h3>
      <p>
        Via het dashboard heb je altijd toegang tot al je gegevens, nieuwe
        berichten, overeenkomsten en gedeelde gegevens.
      </p>
    </div>
    <div class="text-center screenimg">
      <img src="/assets/img/screen2.png" />
    </div>
  </div>

  <div class="btnrow2">
    <a class="orangebtn cursor-pointer" routerLink="../always-safe">
      <div class="d-inline-flex">
        Volgende stap
        <div class="ml-2"><img src="/assets/img/Arrow-forward-w.png" /></div>
      </div>
    </a>
  </div>
</div>
