<div class="contentpart">
    <h3>{{question?.title}}</h3>
    <div class="form-group">
        <input type="text" class="form-control" id="text" autocomplete="off"
                     placeholder="{{question?.title}}" [(ngModel)] = "value" />
    </div>
</div>
<div class="btnrow">
    <app-primary-button text=" Volgende stap" *ngIf="!!value" (click)='nextAction()'></app-primary-button>
    <app-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></app-back-button>
</div>