<div class="contentpart">
    <h3>{{question?.title}}</h3>
    <p>
        {{question?.subtitle}}
    </p>
    <div class="card" *ngFor="let option of question.options;let i = index">
            <div class="col pl-0">
                <div class="card-body" (click)="optionClick(option)">
                    <p class="option">
                        {{option.title}}
                    </p>
                </div>
            </div>
    </div>
</div>
<div class="btnrow cursor-pointer" >
    <a class="backbottom cursor-pointer" (click)="backAction()">
        <div><img src="/assets/img/Arrow-back-gray.png" /></div>
        Terug naar de vorige stap
    </a>
</div>