<div class="contentpart">
    <h3>{{question?.title}}</h3>
    <p>
        {{question?.subtitle}}
    </p>
    <div class="card" *ngFor="let option of question.options;let i = index">
            <div class="col pl-0">
                <div class="card-body" (click)="optionClick(option)">
                    <p class="option">
                        {{option.title}}
                    </p>
                </div>
            </div>
    </div>
</div>
<div class="btnrow cursor-pointer" >

    <maf-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></maf-back-button>
</div>