@import "../../styles/colors";

.page-wrapper {
  background: $white;
  height: calc(100% - 0px);
  padding: 0;

  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    &.success {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 120px);
      .success_inside {
        display: inline-block;
        text-align: center;

        h3 {
          font-style: normal;
          font-size: 26px;
          line-height: 30px;
          margin-bottom: 64px;
        }
      }
    }
  }
}

.text {
  margin-top: 65px;
}
