<div class="page-wrapper">
  <div class="contentpart success">
    <div class="success_inside">
      <h3>Je gegevens zijn succesvol gedeeld.</h3>
      <img src="/assets/img/success-icon.svg" />
      <div class="text">
        Je schulden staan 8 maanden stil. We gaan samen aan de slag met je traject. Je kunt altijd stoppen met het delen van je gegevens.
      </div>
    </div>
  </div>
  <div class="btnrow">
    <app-primary-button text="Ga door naar Start" routerLink="/homepage"></app-primary-button>
  </div>
</div>
