@import "../../../styles/colors";


  .contentpart {
    h3 {
      color: $mineShaft;
      font-style: normal;
      font-family: "rijksoverheidsanswebtext_boBd";
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 8px;
    }
    .form-group {
      margin-bottom: 16px;
      label {
        margin-bottom: 4px;
        font-family: "RijksoverheidSerifWeb-Italic";
        color: #666666;
      }
      .form-control {
        border: 1px solid $silverSand;
        border-radius: 0;
        height: 48px;
      }
    }
    .card {
      padding: 15px 20px;
      border: 0;
      box-shadow: inset 0px -2px 0px rgba(43, 43, 43, 0.25);
      border-radius: 0;
      .card-body {
        padding: 0px;
        p {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

.formControl-Error {
  border: 1px solid red !important;
}
.warnIcon {
  width: 30px;
}
