<div class="page-wrapper">
  <div class="page_name">
    <maf-back-button (back)="backPage()"></maf-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/shared-page-icon.png" /></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Wat ga je delen?</h3>
    <ul class="list list--card list--card-small">
      <li class="card card--small">
        <div class="d-flex">
          <div class="card__body">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div>
                <label class="mb-2">Gegevens bevestigd door</label>
                <h4>Stichting WIJeindhoven</h4>
                <p> Alleen lezen <img src="/assets/img/que-icon.png" /></p>
              </div>
              <div>
                <img src="/assets/img/Logo WIJeindhoven.png" />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Naam</label>
          <p class="card__status"><img src="/assets/img/name-icon.png" /> Dhr. de Vries, Ad Willem </p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Burgerservicenummer</label>
          <p class="card__status"> <img src="/assets/img/name-icon.png" /> 12345678 </p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Type overeenkomst</label>
          <p class="card__status"><img src="/assets/img/type-icon.png" /> Bevestiging ondersteuning</p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Status overeenkomst</label>
          <p class="card__status"><img src="/assets/img/status-icon.png" /> Actief </p>
        </div>
      </li>
      <li class="card card--small">
        <div class="card__body">
          <label>Startdatum</label>
          <p class="card__status"><img src="/assets/img/calendar.png" /> 01-04-2020 </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="btnrow">
  <maf-primary-button text="Volgende stap" routerLink="/homepage/share-person"></maf-primary-button>
  <maf-back-button position="bottom" title="Terug naar de vorige stap"  routerLink="/homepage/steps-overview"></maf-back-button>
  </div>
</div>