<div class="page-wrapper">
  <div class="page_name">
    <app-back-button (back)="backPage()"></app-back-button>
    <div class="d-flex justify-content-between">
      <div class="title">
        <div><img src="/assets/img/shared-page-icon.png" /></div>
        Gegevens delen
      </div>
    </div>
  </div>
  <ul class="statusbar">
    <li class="active"></li>
  </ul>
  <div class="contentpart">
    <h3>Wat ga je delen?</h3>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <label>Gegevens bevestigd door</label>
                <h4>Stichting WIJeindhoven</h4>
                <span>Alleen lezen <img src="/assets/img/que-icon.png"/></span>
              </div>
              <div>
                <img src="/assets/img/Logo WIJeindhoven.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Naam</label>
            <div class="value">
              <img src="/assets/img/name-icon.png" /> Dhr. de Vries, Ad Willem
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Burgerservicenummer</label>
            <div class="value">
              <img src="/assets/img/name-icon.png" /> 12345678
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Type overeenkomst</label>
            <div class="value">
              <img src="/assets/img/type-icon.png" /> Bevestiging ondersteuning
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Status overeenkomst</label>
            <div class="value">
              <img src="/assets/img/status-icon.png" /> Actief
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <label>Startdatum</label>
            <div class="value">
              <img src="/assets/img/calendar.png" /> 01-04-2020
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btnrow">

  <app-primary-button text="Volgende stap" routerLink="/homepage/share-person"></app-primary-button>
  <app-back-button position="bottom" title="Terug naar de vorige stap"  routerLink="/homepage/steps-overview"></app-back-button>
  </div>
</div>
