@import "../../../styles/colors";
@import "@nl-design-system/nl-design-system/src/components/form/checkbox.scss";
.contentpart {
    .card__body {
      padding: 0px 15px !important;
    }
    .input__label--checkbox{
      background: none;
      outline: none !important;
      border: none;
      &:before {
        background-color: white;
        border: #adb5bd solid 1px;
        content: "";
        height: 18px;
        left: 5px;
        margin-left: 1.4rem;
        position: absolute;
        top: 1.4rem;
        width: 18px;
    }
    }
    .input__control--checkbox:checked + .input__label--checkbox {
      border: none !important;
    }
}
