<div class="contentpart">
    <h3>{{question?.title}}</h3>
    <p>
        {{question?.subtitle}}
    </p>
    <div class="card">
    <div class="row no-gutters">
        <div class="col-auto">
            <p>
                Ja
            </p>
        </div>
        <div class="col">
            <div class="card-body">
                <div class="custom-control custom-checkbox fr">
                    <input type="checkbox" class="custom-control-input" id="ja" 
                        [checked]="order" (change)="checkBoxEvent($event)">
                    <label class="custom-control-label" for="ja"></label>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="btnrow">
    <maf-primary-button text=" Volgende stap"  *ngIf="isAgree" (click)='nextAction()'></maf-primary-button>
    <maf-back-button position="bottom" title="Terug naar de vorige stap" (click)="backAction()"></maf-back-button>
</div>