<div class="contentpart">
    <h3>{{question?.title}}</h3>
    <p>
        {{question?.subtitle}}
    </p>
    <div class="card">
    <div class="row no-gutters">
        <div class="col-auto">
            <p>
                Ja
            </p>
        </div>
        <div class="col">
            <div class="card-body">
                <div class="custom-control custom-checkbox fr">
                    <input type="checkbox" class="custom-control-input" id="ja" 
                        [checked]="order" (change)="checkBoxEvent($event)">
                    <label class="custom-control-label" for="ja"></label>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="btnrow">
    <button class="orangebtn cursor-pointer" (click)="nextAction($event)"  [hidden]="!isAgree">
        <div class="d-inline-flex">
            Volgende stap
            <div class="ml-2"><img src="/assets/img/Arrow-forward-w.png" /></div>
        </div>
    </button>
    <a class="backbottom cursor-pointer" (click)="backAction()">
        <div><img src="/assets/img/Arrow-back-gray.png" /></div>
        Terug naar de vorige stap
    </a>
</div>